 .container {
     width: 400px;
     height: 200px;
     color: white;

     /* gradient colors: green to pink */
     background: linear-gradient(rgba(29, 137, 176, 0.8), rgb(255 100 100 / .5)),
         url(https://picsum.photos/id/106/400/200);
 }