#highlight {
    background-color: yellow;
}
.special-text {
    color: blue;
    font-style: italic;
}
.highlight {
    background-color: pink;
}

.special-text.highlight {
    border: 2px solid black;
    padding: 10px;
}

h2.special-text {
    color: red;
}