
.flex-container {
    /* display: flex; */
    /* display:flexbox; */
    display: inline-flex;
    border: 2px solid black;
    padding: 5px;
}

.flex-item {
    padding: 5px;
    border: 2px solid red;

}