
.background {
width: 600px;
height: 400px;
border: 4px solid black;
background-color: lightblue;
background-image: url(https://picsum.photos/id/76/400/200);

background-repeat: no-repeat; 
background-position: 20px 25%; 
background-size: 100%;
 
}