
/* Custom Properties
-------------------------------------*/
:root {

    --darkgray: #333333;
    --whitesmoke: #F5F5F5;
    --darkslateblue: #483D8B;

    --color-dark: var(--darkgray);
    --color-light: var(--whitesmoke);
    --color-primary: var(--darkslateblue);
}

/* Global Styles 
--------------------------------------*/
/* Alternative box model */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}
body {
	margin: 0;
	padding: 0;
}
a {
    color: var(--color-dark);
}

.bg-dark a, .bg-primary a {
    color: var(--color-light);
}
.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.bg-light {
    background-color: var(--color-light);
    color: var(--color-dark);
}

.bg-primary {
    background-color: var(--color-primary);
    color: var(--color-light);
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Header + Nav
--------------------------------------*/
header {
    height: 500px;
    background-image: linear-gradient(rgb(72 61 139 / .5), rgb(72 61 139 / .5)), 
                      url(../images/bg-sunset-ocean.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-light);
}


/* About
---------------------------------------*/


/* Projects
---------------------------------------*/


/* Resume
---------------------------------------*/


/* Footer
---------------------------------------*/