div {
    background: pink;
    width: 200px;
    height: 50px;
    /* margin: 20px;
    padding: 40px;
    border: 4px solid black; */
    display: inline-block;
    
}
span{
    background: lightblue;
    width: 200px;
    height: 50px;
    display: block;
}